@font-face {
    font-family: Inter;
    src: url(Inter-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Inter;
}

.topnav {
    overflow: hidden;
    background-color: #BE42C9;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 50px;
    justify-content: space-around;
}

.topnavgrid{
    margin-top: 15px;
}

.topnavright{
    float: right;
}
  
.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    text-decoration: underline;
}

.topnav2 {
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 70px;
    justify-content: space-around;
}

.topnav2grid{
    margin-top: 15px;
}

.topnav2right{
    float: right;
}
  
.topnav2 a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav2 a:hover{
    text-decoration: underline;
}


.minipic{
    border-radius: 50%;
    max-width: 30px;
    height: auto;
}

.h-loginbtn{
    border-radius: 12px;
    border: solid 2px;
    border-color: #583178;
}

.h-regiscontainer{
    margin-top: 30px;
}
.h-regisbtn{
    border-radius: 12px;
    background-color: white;
    color: #314078;
    text-decoration: none;
    padding: 10px 32px;
}

#grad {
    background-image: linear-gradient(#BE42C9, #314078);
  }

.bigtitle{
    display: grid;
    height: 500px;
    grid-template-columns: 500px 500px;
    justify-content: space-evenly;
    color: white;
}

.titlegrid{
    margin-top: 60px;
}

.titledesc{
    margin-top: 60px;
}

.titleimg{
    max-width: 100%;
    height: auto;
}

.vendoropttitle{
    display: grid;
    grid-template-columns: 150px 300px 150px;
    height: 50px;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
}

.vendortitle{
    margin-top: 20px;
}

.landing{
    border: 3px solid grey;
    border-radius: 1px;
    margin-top: 10px;
}

.vendoropt{
    display: grid;
    grid-template-columns: 175px 200px 175px;
    grid-template-rows: 400px;
    height: 450px;
    justify-content: center;
    grid-gap: 20px;
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
}

.vendoroptcard{
    margin-top: 50px;
    border-radius: 12px;
}

.vendoroptcard-small{
    margin-top: 90px;
    border-radius: 12px;
    height: 250px;
    width: 175px;
}

.vendoroptimg{
    max-width: 70%;
    height: auto;
}

.vendoroptimg-big{
    margin-top: 50px;
    max-width: 75%;
    height: auto;
}

.vendoroptcard-body{
    margin-top: 30px;
}

.info-container{
    display: grid;
    height: 400px;
    grid-template-columns: 800px;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(24, 24, 24);
}

.infogrid{
    margin-top: 60px;
}

.infocard{
    margin-top: 5px;
    border-radius: 12px;
    height: 300px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
}

.info{
    margin-top: 70px;
}

.infoimg{
    max-width: 105%;
    height: auto;
    margin-top: -100px;
}

.vendors-container{
    display: grid;
    height: 1000px;
    grid-template-rows: 50px 250px 50px 250px 50px 250px;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(24, 24, 24);
}

.vendortype-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-around;
}

.vendors-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 170px;
    grid-gap: 20px;
    justify-content: space-around;
}

.vendors-card{
    background-color: white;
    border-radius: 12px;
}

.footer-container{
    height: 150px;
    color: white;
}

.footergrid{
    display: grid;
    grid-template-columns: 300px 500px 300px;
    justify-content: center;
}

.footerlogo{
    margin-top: 30px;
}

.footer{
    margin-top: 50px;
}

.logregis-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 55% 45%;
    justify-content: space-evenly;
}

.logregisimg-container{
    display: grid;
    grid-template-rows: 50px auto;
    float: left;
}

.logregis-title{
    margin-top: 50px;
    margin-left: 10%;
    color: white;
}

.logregisimg{
    max-width: 75%;
    margin-top: 10%;
    margin-left: 10%;
}

.logregis-form{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px 200px 50px 50px;
    justify-content: center;
    margin-top: 50px;
}

.logregis-row{
    display: grid;
    margin-top: 10px;
    justify-content: center;

}

.logregisform-title{
    color: #BE42C9;
    text-align: center;
    font-size: 42px;
}

.logregisform-sub{
    color: rgb(92, 92, 92);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.logregis-input{
    border-radius: 20px;
    border: rgb(92, 92, 92) solid 2px;
    padding: 10px 40px;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
    color: rgb(92, 92, 92);
}
  
.input-icons {
    width: 100%;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
    margin-left: 10px;
}

.login{
    text-align: center;
}

.logregis-btn{
    border-radius: 12px;
    background-color: #BE42C9;
    color: white;
    text-decoration: none;
    padding: 10px 60px;
    font-size: 16px;
}

.or{
    display: grid;
    grid-template-columns: 150px 15px 150px;
    justify-content: center;
    grid-gap: 10px;
}

.ortitle hr{
    border: 2px solid grey;
    border-radius: 1px;
}

.socmedgrid{
    display: grid;
    grid-template-columns: 45px 45px 45px;
    grid-template-rows: 45px;
    justify-content: center;
    grid-gap: 10px;
}

.socmed-card{
    display: grid;
    background-color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 4px #000000;
    justify-content: center;
}

.socmed-img{
    max-width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.regis-form{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px 300px 50px 50px;
    justify-content: center;
    margin-top: 50px;
}

.profile-container{
    display: grid;
    height: 600px;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(24, 24, 24);
}

.profile-grid{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 500px;
    margin-top: 50px;
}

.profile-card{
    border-radius: 12px;
    background-color: white;
    color: rgb(24, 24, 24);
}

.profilecard-grid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 300px 300px 500px;
    justify-content: center;
}

.profileimg-container{
    height: auto;
    width: 250px;
    margin: auto;
}

.profileimg{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.profilecard-content hr{
    border: 3px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profilecard-content h3{
    margin-bottom: 20px;
}

.profilecard-content p, h3{
    color:rgb(92, 92, 92);
}

.floatright{
    float: right;
}

.profileedit-container{
    display: grid;
    height: 800px;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(24, 24, 24);
}

.profileedit-grid{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 700px;
    margin-top: 50px;
}

.profileeditcard-grid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 300px 800px;
    justify-content: center;
}

.profile-editbtn{
    border-radius: 12px;
    background-color: #583178;
    padding: 10px 42px;
    color: white;
    text-decoration: none;
}

.profileform input[type=text]{
    padding: 10px 20px;
    border-radius: 12px;
    border: #583178 solid 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
}

.profileform select{
    padding: 10px 84px;
    border-radius: 12px;
    border: #583178 solid 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.batal{
    border-radius: 12px;
    border: solid 2px;
    border-color: #583178;
    color: #583178;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
}

.simpanprofile{
    border-radius: 12px;
    border: solid 2px;
    background-color: #583178;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
}

.upproduk{
    margin: auto;
}

.upproduk-btn{
    border-radius: 12px;
    background-color: white;
    color: #314078;
    text-decoration: none;
    padding: 10px 33px;
    font-size: 10px;
}
.vendors-container2{
    display: grid;
    height: 1000px;
    grid-template-rows: 100px 200px 200px 200px 200px;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(24, 24, 24);
}

.vendors-grid2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 170px 170px 170px 170px 170px 170px;
    grid-gap: 20px;
    justify-content: space-around;
}
